html{
    margin: 0 auto;
    padding: 0;
}

.logo{
    width: 25%;
    margin: 10px;
}

.nav-link{
    font-size: 25px;
    margin: 26px;
    align-items: center;
    text-align: center;
}

.iconcuenta{
    width: 60px;
    height: auto;
    background-color: transparent;
    padding: 7px;
    border-radius: 50px;
}

.lupa{
    width: 20px;
    height: auto;
}


.navbar{
    background-color: rgba(255, 217, 0, 0.938);
}

.navbar-brand{
    text-transform: uppercase;
    font-family: "Exile", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

body{
    font-size: 150%;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(233, 231, 231);
    margin: 0 auto;
    padding: 0%;
}

.producto-detalle {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.imagen img {
    width: 100%;
    max-width: 400px;
}

.info {
    flex: 1;
    min-width: 250px;
}

h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.precio {
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0;
    }

.descripcion {
    font-size: 24px;
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    .producto-detalle {
        flex-direction: column;
        text-align: center;
    }

    .info {
        text-align: left;
    }
}